
/* styles.css */



.resume{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: italic; /* Italic style */
    display: inline-block; /* Adjusts background to content width */
    max-height: 160px;  /* Adjust this value as needed */
    overflow-y: auto;
}
.resume_ratio{
    color: rgb(0, 0, 0);
    font-size: 14px;
    display: inline-block; /* Adjusts background to content width */
    max-height: 100px;  /* Adjust this value as needed */
    overflow-y: auto;
}
.stSelectbox:first-of-type {
    background: linear-gradient(0deg, #fdfdff 0%, #ffffff 100%);
    color: rgb(246, 247, 248);
    padding: 10px;
    border-radius: 14px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 18px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width */

}

.plot-container  {
    background: linear-gradient(0deg, #0e011fb9 0%, #14201481 100%);
    color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 14px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 18px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width ()*/

}
/* styles.css */
.inline-div-container {
    display: flex;
    justify-content: flex-start;
}

.inline-div {
    margin-right: 150px; /* Adjust this value to add more space between divs */
    background: linear-gradient(0deg, #022525 20%, #020425 80%);    
    color:     rgb(214, 222, 231);
    padding: 10px;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;   
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width */
}   

.action {
    margin-right: 100px; /* Adjust this value to add more space between divs */
    background: linear-gradient(0deg, #f8f8f8 20%, #f8f8fc 80%);
    color: rgb(1, 13, 26);
    padding: 10px;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Garamond', serif;
    margin-bottom: 18px;   
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width *//
}

.action_1 {
    background: linear-gradient(0deg, #f8f8f8 20%, #f8f8fc 80%);
    color: rgb(1, 13, 26);
    padding: 10px;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Garamond', serif;
    margin-bottom: 18px;   
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width *//
}


div[data-baseweb="select"] > div > div > div {
    color: rgb(0, 0, 0); /* Change this to the desired color label selectbox*/
    font-weight: bold; /* Optional: Makes the label bold */
}

/* styles.css */
.css-1v0mbdj > div > label {
    color: rgb(0, 0, 0); /* Change this to the desired color */
    font-weight: bold; /* Optional: Makes the label bold */
}
